<% layout('layout', { title: 'Edit User' }) %>
<form action="/edit/<%= user.id %>" method="POST">
  <label>Name: <input name="name" value="<%= user.name %>" required></label><br>
  <label>Salary: <input name="salary" type="number" step="0.01" value="<%= user.salary %>" required></label><br>
  <button type="submit">Update</button>
</form>
<a href="/">Back</a>
